{% extends 'base.html' %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<div class="signup-form">
    <h2 class="login-title">Kirjaudu sisään</h2>
    
    <!-- Alert error  -->
    {% if form.errors %}
        <div class="alert alert-danger">
            Virheellinen käyttäjätunnus tai salasana. Yritä uudelleen.
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <!-- Username field -->
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Käyttäjätunnus</label>
            {{ form.username }}
        </div>

        <!-- Password fild -->
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Salasana</label>
            {{ form.password }}
        </div>

        <!-- Submit button -->
        <button type="submit" class="button">Kirjaudu sisään</button>
    </form>

    <!-- Link to rigtration -->
    <p class="mt-3">
        Eikö sinulla ole tiliä? <a href="{% url 'signup' %}" class="button">Rekisteröidy</a>
    </p>
</div>
{% endblock %}