{% extends "emails/base_email.html" %}

{% block content %}
<p>Hei {{ order.user.username }},</p>

<p><strong>Tilauksesi on nyt valmis noudettavaksi!</strong></p>

<h3>Tilauksen tiedot:</h3>
<ul>
    <li>Tilausnumero: #{{ order.id }}</li>
    <li>Päivämäärä: {{ order.created_at|date:"d.m.Y H:i" }}</li>
</ul>

<h3>Tuotteet:</h3>
<ul>
{% for item in order.cart.items.all %}
    <li>{{ item.item.nimike }} - {{ item.quantity }} kpl</li>
{% endfor %}
</ul>

{% if order.comment %}
<p><strong>Kommentti:</strong> {{ order.comment }}</p>
{% endif %}

<p>Tervetuloa noutamaan tilauksesi varastolta.</p>

<p>Terveisin,<br>Varastotiimi</p>
{% endblock %}