{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Tilaus #{{ order.id }}</h1>
    <p>Luotu: {{ order.created_at|date:"d.m.Y H:i" }}</p>
    <p>Tila: {{ order.get_status_display }}</p>
    
    <h3 class="mt-4">Tuotteet</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Tuote</th>
                <th>Määrä</th>
                <th>Työpiste</th>
                <th>Väri</th>
                <th>Kommentti</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.cart.items.all %}
            <tr>
                <td>{{ item.item }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.workstation }}</td>
                <td>{{ item.color }}</td> 
                {% if item.comment %}
                <td>{{ item.comment }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    
    <a href="{% url 'warehouse_orders' %}" class="btn btn-secondary">Takaisin tilauslistaan</a>
</div>
{% endblock %}